NEXT_PUBLIC_SUPABASE_URL=https://sgrsjmizmwbsotamfsbw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_K-1zVIoMQ0GTbiAAqzLYeA_fLn3qwP9
NEXT_PUBLIC_WHATSAPP=5551997901012
NEXT_PUBLIC_SITE_URL=https://visionlar.vercel.app
